<h4>Hello <%= @user.name %></h4>

<p>You have deposited <%= @amount %> to your account. </p>

<p>Your previous balance is <%= @previous_amount %></p>

<p>Your total balance is <%= @account.balance %></p>
